.disguised {
    #layout_wrapper > footer,
    #layout_page > footer,
    body& > footer,
    #layout_footer {
        background-color: #0f8;
        color: #000 !important;
        
        a {
            color: #000 !important;
        }
    }
}

